// (min-width: 768px) and (max-width: 991px)
@include mediaMd {
  html {
    font-size: 12px;
  }

  .intro-container {
    .intro {
      &__yourself {
        img {
          margin-top: -12rem;
        }
      }
      &__picture {
        div {
          width: 250px;
          height: 450px;
        }
      }
    }
  }
  .about-container .about .wrap .about__img img {
    width: 250px;
  }
  .portfolio__items {
    .portfolio-img {
      img {
        width: 300px;
      }
    }
    .portfolio-content__wrap {
      width: 300px;
    }
  }
}

// (min-width: 576px) and (max-width: 767px)
@include mediaSm {
  html {
    font-size: 13px;
  }
  .header-container {
    // height: 100vh;
    // width: 100vw;
    // max-width: 767px;
    // position: fixed;
    // background: $color-primary;
    // display: none;
    .header {
      position: relative;
      .header__navigation--res {
        display: flex;
        position: absolute;
        right: 2em;
        top: 1.2em;
        z-index: 3;
        transition: 0.5s all ease;
        &.close {
          transform: rotate(180deg);
          span {
            &:nth-child(1) {
              transform: rotate(42deg) translate(12px, 7px);
            }
            &:nth-child(2) {
              opacity: 0;
            }
            &:nth-child(3) {
              transform: rotate(-42deg) translate(4.5px, 2px);
              width: 2rem;
            }
          }
        }
      }
      &__logo {
        margin: 1em;
        // visibility: hidden;
      }

      nav > .header__navigation {
        height: 100vh;
        width: 100vw;
        top: 0;
        left: 0;
        position: fixed;
        background: $color-primary;
        visibility: hidden;
        clip-path: circle(100px at 100% -20%);
        -webkit-clip-path: circle(100px at 100% -20%);
        // transform: translate3d(0, -100%, 0);
        transition: 0.75s all ease;
        &.show {
          // transform: translate3d(0, 0, 0);
          visibility: visible;
          clip-path: circle(1000px at 100% -20%);
          -webkit-clip-path: circle(1000px at 100% -20%);
        }
        .navList {
          flex-direction: column;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          // display: none;

          .navItems {
            margin: 0 auto;
            margin-left: 0;
            margin-bottom: 2em;
            transform: translate3d(200px, 0, 0);
            transition: 1s all ease;

            &.show {
              transform: translate3d(0, 0, 0);
            }
            &:nth-child(6) {
              margin: 0 auto;
              margin-left: 0;
            }
            .navLinks {
              text-align: start;
              font-size: 1.5rem;
              margin-bottom: 1em;
              text-transform: uppercase;
              &.active {
                color: white;
              }
            }
          }
        }
      }
    }
  }

  .intro-container {
    .intro {
      flex-direction: column;
      justify-content: start;
      &__yourself {
        margin-left: unset;
        img {
          width: 220px;
        }
      }
      &__picture {
        div {
          width: 200px;
          height: 400px;
          margin-right: unset;
          margin-bottom: 4em;
        }
      }
    }
  }

  .about-container {
    .about {
      .wrap {
        .about__img {
          position: relative;
          img {
            width: 200px;
            margin-right: 3em;
          }
        }
        .about__content {
          width: 400px;
        }
      }
    }
  }
  .portfolio {
    background: none;
    .portfolio__items {
      flex-direction: column;
      padding-bottom: 1em;
      border-bottom: 1px solid #f3f3f3;
      .portfolio-img {
        width: 100%;
        margin-bottom: 1em;
        img {
          width: 300px;
        }
      }
      .portfolio-content {
        width: 100%;
        margin-bottom: 2em;
        &__wrap {
          width: 300px;
        }
      }
    }
  }

  .skills__grid {
    width: 96%;
    row-gap: 1em;
    column-gap: 0.5em;
    &--items {
      padding: 1em;
    }
  }

  .experiences-container {
    .experiences__timeline {
      ul {
        padding: unset;
        padding-left: 2em;
        width: 70%;
        margin-right: 2em;
        .date::after {
          left: -3.1em;
        }
        .date::before {
          left: -12em;
        }
      }
    }
  }

  .contact__content {
    display: flex;
    flex-direction: column;
    &--text {
      font-size: 5rem;
    }
    &--box {
      margin-bottom: 2em;
    }
  }
  .heading__main {
    font-size: 2.5rem;
  }
}
// (max-width: 575px)
@include mediaExtraSm {
  html {
    font-size: 12px;
  }
  .intro {
    &__yourself {
      margin-left: 4em !important;
    }
  }
  .intro-container .intro__picture div {
    height: 350px !important;
  }
  .about {
    .wrap {
      flex-direction: column;
      .about__content {
        width: unset !important;
        &__wrap {
          padding: 2em;
        }
      }
    }
  }
  .portfolio .portfolio__items .portfolio-content__wrap {
    width: 90%;
  }
  .portfolio .portfolio__items .portfolio-img img {
    width: 90%;
  }
  .skills__grid {
    grid-template-columns: 1fr;
  }
  .heading__main--sub {
    font-size: 1.2rem !important;
  }
  .experiences__timeline {
    margin-left: 2em;
  }
  .contact__content--text {
    font-size: 4rem;
  }
}

@for $x from 1 through 6 {
  .header-container .header nav .header__navigation > .navList {
    .navItems:nth-child(#{$x}) {
      transition-delay: $x * 0.1s;
    }
  }
}
