@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;700&family=Lato:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
$font-family: "Inconsolata", monospace;
$font-text: "Lato", sans-serif;

$font-bg: "Anton", sans-serif;
$color-primary: #e9204f;
$color-secondary: #f9c001;
$color-white: #fff;
$color-bg: #f7f7f7;
