.btn {
  text-transform: uppercase;
  position: relative;
  letter-spacing: 1px;
  color: $color-primary;
  border: 1px solid $color-primary;
  padding: 0.7em 1.3em;
  margin-top: 0.5em;
  display: inline-block;
  z-index: 2;
  background: white;
  overflow: hidden;
  cursor: pointer;
  width: 140px;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: $color-primary;
    @include easeOut;
  }
  &:hover {
    color: $color-white;
    &::before {
      width: 100%;
    }
  }
}
.move-up {
  position: fixed;
  z-index: 10;
  font-size: 3rem;
  color: black;
  transform: rotate(90deg);
  // transform: matrix(-1, 0, 0, 1, 0, 0);
  bottom: 0;
  bottom: 12.5rem;
  right: -4rem;
  &::after {
    content: "";
    width: 2em;
    height: 2px;
    background: black;
    position: absolute;
    right: -2.2em;
    top: 0.25em;
  }
}
