.experiences-container {
  background: #f7f7f7;
  .experiences {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
    padding-top: 4em;
    padding-bottom: 4em;
    &__timeline {
      ul {
        margin: 0 auto;
        border-left: 2px solid $color-primary;
        padding: 1.5rem;
        text-align: left;
        position: relative;
        width: 50%;
        font-size: 0.9rem;
        background: #f7f7f7;

        .date {
          letter-spacing: 1px;
          font-size: 1rem;
          font-family: $font-text;
          margin-bottom: 2em;
          padding-bottom: 1em;
          border-bottom: 1px #f3f3f3 solid;
          position: relative;
          span {
            display: block;
            text-align: end;
            font-size: 0.7rem;
            color: grey;
          }
        }
        li:nth-child(3) {
          margin-bottom: 0;
        }
      }
    }
    &::before {
      content: "";
      position: absolute;
      bottom: -2.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.2rem;
      height: 5rem;
      background: $color-primary;
      z-index: 2;
    }
    &::after {
      content: "";
      position: absolute;
      top: -2.5rem;
      left: 50%;
      transform: translateX(-50%);
      width: 0.2rem;
      height: 5rem;
      background: $color-primary;
      z-index: 2;
    }
  }
}
