.skills {
  position: relative;
  padding-bottom: 2em;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  &-bg {
    position: relative;

    top: -6em;
    img {
      width: 100%;
      position: absolute;
    }
  }
  .heading {
    padding-top: 3em;
  }
  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 2em;
    column-gap: 3em;
    margin: 0 auto;
    width: 75%;
    margin-bottom: 4em;
    &--items {
      display: flex;
      justify-content: start;
      align-items: center;
      border: 2px solid #ededed;
      padding: 2em;
      transform: translateY(3px);
      transition: 0.5s all ease;
      img {
        margin-right: 1em;
      }
      .skills-content {
        .heading__main--sub {
          font-size: 1.2rem;
        }
        .skills-items {
          transform: translateY(3px);
          transition: 0.5s all ease;
          span {
            background: #d8d7d8;
            padding: 0.2em 0.4em;
            margin-right: 0.5em;
            border-radius: 0.5em;
          }
        }
      }
      &:hover {
        border-color: $color-primary;
        transform: translateY(0);
        .skills {
          transform: translateY(0);
        }
      }
    }
  }
}
