.about-container {
  background: $color-bg;
  .about {
    padding-top: 5rem;
    padding-bottom: 5rem;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    .wrap {
      display: grid;
      grid-template-columns: 1fr 1fr;
      width: 90%;
      margin: 0 auto;
      .about__img {
        img {
          display: block;
          border-radius: 1rem;
          box-shadow: 0 3px 40px #0000004d;
          margin: auto;
          filter: none;
          -webkit-filter: grayscale(0%);
          &:hover {
            filter: gray;
            -webkit-filter: grayscale(80%);
          }
        }
      }
      .about__content {
        margin: 0 auto;
        position: relative;
        .box {
          width: 5.2rem;
          height: 2.5rem;
          border: 1px solid black;
          position: absolute;
          left: -1rem;
        }
      }
    }
  }
}
