.contact {
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 4em;
  margin-bottom: 4em;
  &__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--text {
      font-size: 3.375rem;
      font-weight: 700;
      color: black;
    }
    &--box {
      .social {
        margin-top: 2em;
        .icon {
          position: relative;
          // margin-right: 1.5em;
          display: inline-block;
          width: 2.8rem;
          height: 2.8rem;
          border-radius: 50%;
          border: 2px solid $color-primary;
          transition: 0.5s all ease;

          &:hover {
            background-color: $color-primary;
            .fa {
              color: white;
            }
          }
          .fa {
            font-size: 2rem;
            margin-top: 5px;
            margin-left: 7px;
            &.fa-facebook {
              font-size: 1.7rem;
              margin-top: 9px;
              margin-left: 12px;
            }
          }
        }
      }
      .form-contact {
        border-bottom: 2px solid $color-primary;
        padding-bottom: 0.5em;
        input {
          border: none;
          margin-left: 2em;
          &:focus {
            outline: none;
          }
        }
      }
    }
  }
}
