.intro-container {
  padding-top: 53px;
  .intro {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    min-height: calc(100vh - 53px);
    margin: 0 auto;
    position: relative;
    &__yourself {
      margin-left: 15rem;
      position: relative;
      &--text {
        margin-top: 10rem;
        h2 {
          font-weight: 400;
        }
      }
      img {
        margin-left: -4rem;
        margin-top: -11rem;
        transform: scale(0.8);
      }
    }
    // &__picture {
    //   position: relative;
    //   .pic {
    //     margin-right: 5.5rem;
    //     width: 300px;
    //     height: 500px;
    //     position: relative;
    //     // background: url("../image/intro.svg") center;
    //     // filter: grayscale(65%);
    //   }
    //   .box {
    //     position: absolute;
    //     width: 500px;
    //     height: 200px;
    //     background: red;
    //     top: 50%;
    //     opacity: 0.5;
    //     left: -10rem;
    //   }
    // }
  }
}
